<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='gradingHandler.js') }}"></script>
<script src="{{ url_for('static', filename='toggle.js') }}"></script>
<h1>TEST NAME</h1>
<h2>SUBMITTED AT: TIME</h2>

<table>
    {%for i in range(0, len)%}
    <tr>
        <td><p><b>{{questions[i]}}: </b></p></td>
        <td><p>{{studentAnswers[i]}}</p></td>
        <td><button type="button" class="btn btn-success" id="correct-{{i}}" onclick="submittest()">Correct</button></td>
        <td><button type="button" class="btn btn-danger" id="incorrect-{{i}}" onclick="submittest()">Incorrect</button></td>
    </tr>
    {%endfor%}
</table>
<button type="button" class="btn btn-warning" id="submitGrades" onclick="submittest()">Submit Grading</button>