<script src="{{ url_for('static', filename='testHandler.js') }}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='onLoad.js') }}"></script>
<h1>{{testname}}</h1>
<table>

    {%for i in range(0, len)%}
    <tr>
        <td>
        </td>
        <td>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" id="thing-{{i}}"
                    placeholder="{{questions[i]}}"></textarea>
            </div>
        </td>
    </tr>
    {%endfor%}

</table>

<button type="button" class="btn btn-success" id="submit" onclick="submittest()">Submit Test</button>